* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'Brevia-Medium';
  src: url("../fonts/Breva-medium/Brevia-Medium.eot");
  src: url("../fonts/Breva-medium/Brevia-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Breva-medium/Brevia-Medium.svg#Brevia-Medium") format("svg"), url("../fonts/Breva-medium/Brevia-Medium.ttf") format("truetype"), url("../fonts/Breva-medium/Brevia-Medium.woff") format("woff"), url("../fonts/Breva-medium/Brevia-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Brevia-Regular';
  src: url("../fonts/Brevia-regular/Brevia-Regular.eot");
  src: url("../fonts/Brevia-regular/Brevia-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Brevia-regular/Brevia-Regular.svg#Brevia-Regular") format("svg"), url("../fonts/Brevia-regular/Brevia-Regular.ttf") format("truetype"), url("../fonts/Brevia-regular/Brevia-Regular.woff") format("woff"), url("../fonts/Brevia-regular/Brevia-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FormaDJRMicro-Medium';
  src: url("../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.eot");
  src: url("../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.svg#FormaDJRMicro-Medium") format("svg"), url("../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.ttf") format("truetype"), url("../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.woff") format("woff"), url("../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FormaDJRMicro-Light';
  src: url("../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.eot");
  src: url("../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.svg#FormaDJRMicro-Light") format("svg"), url("../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.ttf") format("truetype"), url("../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.woff") format("woff"), url("../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FormaDJRMicro-Bold';
  src: url("../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.eot");
  src: url("../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.svg#FormaDJRMicro-Bold") format("svg"), url("../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.ttf") format("truetype"), url("../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.woff") format("woff"), url("../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FormaDJRMicro-Regular';
  src: url("../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.eot");
  src: url("../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.svg#FormaDJRMicro-Regular") format("svg"), url("../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.ttf") format("truetype"), url("../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.woff") format("woff"), url("../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/Opensans-bold/OpenSans-Bold.eot");
  src: url("../fonts/Opensans-bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Opensans-bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg"), url("../fonts/Opensans-bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/Opensans-bold/OpenSans-Bold.woff") format("woff"), url("../fonts/Opensans-bold/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/Opensans-light/OpenSans-Light.eot");
  src: url("../fonts/Opensans-light/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Opensans-light/OpenSans-Light.svg#OpenSans-Light") format("svg"), url("../fonts/Opensans-light/OpenSans-Light.ttf") format("truetype"), url("../fonts/Opensans-light/OpenSans-Light.woff") format("woff"), url("../fonts/Opensans-light/OpenSans-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/Opensans-lighitalic/OpenSans-LightItalic.eot");
  src: url("../fonts/Opensans-lighitalic/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Opensans-lighitalic/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url("../fonts/Opensans-lighitalic/OpenSansLight-Italic.svg#OpenSansLight-Italic") format("svg"), url("../fonts/Opensans-lighitalic/OpenSansLight-Italic.ttf") format("truetype"), url("../fonts/Opensans-lighitalic/OpenSansLight-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/Opensans-regular/OpenSans-Regular.eot");
  src: url("../fonts/Opensans-regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Opensans-regular/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/Opensans-regular/OpenSans.svg#OpenSans") format("svg"), url("../fonts/Opensans-regular/OpenSans.ttf") format("truetype"), url("../fonts/Opensans-regular/OpenSans.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul li {
  list-style: none; }

.header {
  position: fixed;
  padding: 30px 105px;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header .nav {
    position: relative;
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header .nav .search-icon {
      position: relative; }
      .header .nav .search-icon::after {
        position: absolute;
        content: '';
        background-image: url(../img/search.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        right: 29px;
        top: 10px; }
    .header .nav li {
      padding: 0 10px; }
      .header .nav li input[type="text"] {
        border-radius: 25px;
        background: #343c48;
        border: none;
        padding: 9px 25px;
        position: relative;
        outline: none;
        color: #fff; }
      .header .nav li .buy-button {
        padding: 9px 25px;
        border-radius: 25px;
        background: #835fa8;
        color: #fff;
        font-family: 'Opensans'; }
      .header .nav li .toggler i {
        font-size: 20px;
        font-size: #fff;
        color: #fff; }
  .header img {
    height: 79px;
    width: 63px;
    object-fit: cover;
    order: 1; }

.banner-page {
  height: 100vh;
  width: 100%;
  background: #232831;
  background-position: inherit;
  position: relative;
  z-index: 20;
  background-repeat: no-repeat;
  background-size: 80% 110%; }
  .banner-page .banner-caption {
    position: absolute;
    top: 40%;
    left: 40%; }
    .banner-page .banner-caption .content-container {
      width: 70%; }
      .banner-page .banner-caption .content-container h2 {
        color: #fff;
        font-family: 'OpenSans-Light';
        font-size: 70px; }
      .banner-page .banner-caption .content-container .content-paragraph {
        width: 80%; }
        .banner-page .banner-caption .content-container .content-paragraph p {
          color: #fff;
          font-family: 'OpenSans';
          font-size: 18px; }

.col-xs-offset-right-12 {
  margin-right: 100%; }

.col-xs-offset-right-11 {
  margin-right: 91.66666667%; }

.col-xs-offset-right-10 {
  margin-right: 83.33333333%; }

.col-xs-offset-right-9 {
  margin-right: 75%; }

.col-xs-offset-right-8 {
  margin-right: 66.66666667%; }

.col-xs-offset-right-7 {
  margin-right: 58.33333333%; }

.col-xs-offset-right-6 {
  margin-right: 50%; }

.col-xs-offset-right-5 {
  margin-right: 41.66666667%; }

.col-xs-offset-right-4 {
  margin-right: 33.33333333%; }

.col-xs-offset-right-3 {
  margin-right: 25%; }

.col-xs-offset-right-2 {
  margin-right: 16.66666667%; }

.col-xs-offset-right-1 {
  margin-right: 8.33333333%; }

.col-xs-offset-right-0 {
  margin-right: 0; }

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%; }

  .col-sm-offset-right-11 {
    margin-right: 91.66666667%; }

  .col-sm-offset-right-10 {
    margin-right: 83.33333333%; }

  .col-sm-offset-right-9 {
    margin-right: 75%; }

  .col-sm-offset-right-8 {
    margin-right: 66.66666667%; }

  .col-sm-offset-right-7 {
    margin-right: 58.33333333%; }

  .col-sm-offset-right-6 {
    margin-right: 50%; }

  .col-sm-offset-right-5 {
    margin-right: 41.66666667%; }

  .col-sm-offset-right-4 {
    margin-right: 33.33333333%; }

  .col-sm-offset-right-3 {
    margin-right: 25%; }

  .col-sm-offset-right-2 {
    margin-right: 16.66666667%; }

  .col-sm-offset-right-1 {
    margin-right: 8.33333333%; }

  .col-sm-offset-right-0 {
    margin-right: 0; } }
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%; }

  .col-md-offset-right-11 {
    margin-right: 91.66666667%; }

  .col-md-offset-right-10 {
    margin-right: 83.33333333%; }

  .col-md-offset-right-9 {
    margin-right: 75%; }

  .col-md-offset-right-8 {
    margin-right: 66.66666667%; }

  .col-md-offset-right-7 {
    margin-right: 58.33333333%; }

  .col-md-offset-right-6 {
    margin-right: 50%; }

  .col-md-offset-right-5 {
    margin-right: 41.66666667%; }

  .col-md-offset-right-4 {
    margin-right: 33.33333333%; }

  .col-md-offset-right-3 {
    margin-right: 25%; }

  .col-md-offset-right-2 {
    margin-right: 16.66666667%; }

  .col-md-offset-right-1 {
    margin-right: 8.33333333%; }

  .col-md-offset-right-0 {
    margin-right: 0; } }
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%; }

  .col-lg-offset-right-11 {
    margin-right: 91.66666667%; }

  .col-lg-offset-right-10 {
    margin-right: 83.33333333%; }

  .col-lg-offset-right-9 {
    margin-right: 75%; }

  .col-lg-offset-right-8 {
    margin-right: 66.66666667%; }

  .col-lg-offset-right-7 {
    margin-right: 58.33333333%; }

  .col-lg-offset-right-6 {
    margin-right: 50%; }

  .col-lg-offset-right-5 {
    margin-right: 41.66666667%; }

  .col-lg-offset-right-4 {
    margin-right: 33.33333333%; }

  .col-lg-offset-right-3 {
    margin-right: 25%; }

  .col-lg-offset-right-2 {
    margin-right: 16.66666667%; }

  .col-lg-offset-right-1 {
    margin-right: 8.33333333%; }

  .col-lg-offset-right-0 {
    margin-right: 0; } }
.cellphone-section {
  width: 100%;
  padding: 100px 0 0;
  background: #835fa8;
  position: relative; }
  .cellphone-section .second-layer h2 {
    font-size: 40px;
    font-family: 'Opensans-light';
    color: #fff; }
  .cellphone-section .second-layer-p {
    width: 88%;
    margin: 20px 0; }
    .cellphone-section .second-layer-p p {
      font-size: 16px;
      font-family: 'Opensans';
      color: #fff;
      line-height: 1.8; }
  .cellphone-section .second-layer a {
    font-family: 'Opensans';
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background: #3dd2ae;
    border-radius: 25px;
    padding: 10px 45px; }
  .cellphone-section .image-container {
    position: relative; }
    .cellphone-section .image-container .cellphone2 {
      z-index: 30;
      width: 100%;
      height: auto;
      margin-top: -211px;
      position: relative; }
  .cellphone-section .sub-section {
    height: 100%;
    width: 100%;
    padding: 5rem 0;
    background: #f4f8fb;
    z-index: 40;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -194px; }
    .cellphone-section .sub-section::after {
      position: absolute;
      content: '';
      bottom: -6%;
      left: 46%;
      background-image: url(../img/overlay-clip.png);
      height: 63px;
      width: 167px;
      background-size: contain;
      background-repeat: no-repeat; }
    .cellphone-section .sub-section .sub-container {
      padding-right: 10px; }
      .cellphone-section .sub-section .sub-container h2 {
        font-size: 30px;
        font-family: 'Opensans-light';
        color: #2b303b;
        padding-bottom: 30px;
        font-weight: 600; }
      .cellphone-section .sub-section .sub-container h3 {
        font-size: 20px;
        color: #696f7c;
        font-family: 'Opensans-light';
        padding-bottom: 30px;
        line-height: 1.8; }
      .cellphone-section .sub-section .sub-container p {
        font-size: 14px;
        color: #44484f;
        font-family: 'Opensans';
        line-height: 2;
        text-align: left;
        padding-bottom: 20px; }
      .cellphone-section .sub-section .sub-container a {
        font-family: 'Opensans';
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        background: #3dd2ae;
        border-radius: 25px;
        padding: 10px 45px; }

.third-layer {
  width: 100%;
  padding: 100px 0 0;
  background: #232831;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .third-layer .headings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .third-layer .headings h2 {
      font-family: 'Opensans-light';
      color: #ffffff;
      font-size: 40px; }
    .third-layer .headings .context {
      text-align: center;
      padding-top: 30px; }
      .third-layer .headings .context p {
        font-size: 16px;
        font-family: 'Opensans';
        color: #9da5b0;
        line-height: 2; }
  .third-layer .sub-content {
    background: #2b303b;
    padding: 100px 0 50px;
    width: 100%;
    position: relative;
    margin-top: -284px; }
    .third-layer .sub-content img {
      margin-bottom: 30px; }
    .third-layer .sub-content h2 {
      color: #fff;
      font-size: 20px;
      font-family: 'Opensans';
      padding-bottom: 10px; }
      .third-layer .sub-content h2 span {
        color: #3a4d60; }
    .third-layer .sub-content p {
      color: #9da5b0;
      font-size: 14px;
      font-family: 'Opensans';
      line-height: 2;
      text-align: left;
      padding-right: 10px; }

.sample-section .bg1-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .sample-section .bg1-container .bg1 {
    height: 565px; }
    .sample-section .bg1-container .bg1 img {
      width: 100%;
      object-fit: cover;
      height: 100%; }
  .sample-section .bg1-container .bg1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
    background: #e9eef1;
    text-align: left; }
    .sample-section .bg1-container .bg1-content h2 {
      color: #696f7c;
      font-size: 20px;
      font-family: 'Opensans-light';
      line-height: 1.8;
      padding: 10px 0; }
    .sample-section .bg1-container .bg1-content p {
      font-family: 'Opensans';
      font-size: 14px;
      color: #44484f;
      line-height: 2; }
    .sample-section .bg1-container .bg1-content .bg1-heading {
      text-align: left;
      width: 100%; }
      .sample-section .bg1-container .bg1-content .bg1-heading h1 {
        font-size: 40px;
        font-family: 'Opensans-light';
        color: #2b303b; }
      .sample-section .bg1-container .bg1-content .bg1-heading img {
        width: 43px;
        height: 31px;
        object-fit: cover;
        margin-top: -10px;
        margin-right: 10px; }

.bg2-container {
  background: #f4f8fb;
  width: 100%; }
  .bg2-container .first-row {
    height: 460px; }
    .bg2-container .first-row .cp-container .video-wrapper {
      position: relative;
      height: 100%;
      width: 100%;
      cursor: pointer; }
      .bg2-container .first-row .cp-container .video-wrapper .video {
        width: 100%;
        object-fit: cover;
        height: 460px;
        position: relative; }
        .bg2-container .first-row .cp-container .video-wrapper .video img {
          object-fit: cover;
          height: 100%;
          width: 100%; }
      .bg2-container .first-row .cp-container .video-wrapper .playpause {
        background-image: url("../img/button.png");
        background-repeat: no-repeat;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        margin: auto;
        background-size: contain;
        background-position: center;
        height: 46px;
        width: 100%;
        z-index: 20;
        cursor: pointer; }
      .bg2-container .first-row .cp-container .video-wrapper .overlay-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0; }
    .bg2-container .first-row .content-container {
      height: 460px;
      background: #835fa8;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
      padding: 0 5rem; }
      .bg2-container .first-row .content-container p {
        font-family: 'Opensans-light';
        color: #fff;
        font-style: italic;
        font-size: 32px;
        line-height: 1.5; }
      .bg2-container .first-row .content-container .date {
        width: 100%;
        text-align: left; }
        .bg2-container .first-row .content-container .date span {
          font-family: 'Opensans';
          font-size: 12px;
          color: #fff;
          font-style: italic; }
      .bg2-container .first-row .content-container .person {
        width: 100%; }
        .bg2-container .first-row .content-container .person h3 {
          text-align: left;
          font-family: 'Opensans';
          font-size: 15px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600; }
          .bg2-container .first-row .content-container .person h3 img {
            margin-right: 20px; }
  .bg2-container .second-gutter {
    height: 300px; }
    .bg2-container .second-gutter .content-2 {
      background: #f4f8fb;
      position: relative;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 2rem; }
      .bg2-container .second-gutter .content-2::after {
        position: absolute;
        content: '';
        background-image: url(../img/middle-clip.png);
        background-size: cover;
        background-repeat: no-repeat;
        top: 50%;
        right: -13px;
        height: 20px;
        width: 18px;
        z-index: 20; }
      .bg2-container .second-gutter .content-2-heading {
        padding-bottom: 10px; }
        .bg2-container .second-gutter .content-2-heading h2 {
          font-size: 23px;
          color: #232323;
          font-family: 'Opensans-light';
          font-weight: 600;
          line-height: 1.5; }
      .bg2-container .second-gutter .content-2 p {
        font-family: 'Opensans';
        font-size: 14px;
        color: #83969f;
        line-height: 2; }
      .bg2-container .second-gutter .content-2 .comment {
        position: relative;
        bottom: -28px;
        text-align: left;
        width: 100%; }
        .bg2-container .second-gutter .content-2 .comment h3 {
          font-family: 'Opensans-light';
          color: #83969f;
          font-size: 30px;
          font-weight: 600;
          border-right: 1px solid #ecece6; }
          .bg2-container .second-gutter .content-2 .comment h3 span {
            font-size: 12px;
            font-family: 'Opensans';
            font-weight: 600;
            position: relative;
            top: -7px;
            padding-left: 5px; }
    .bg2-container .second-gutter .cp-design-2 {
      height: 300px; }
      .bg2-container .second-gutter .cp-design-2 img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

/*# sourceMappingURL=main.css.map */
