@font-face {
  font-family: 'Brevia-Medium';
  src: url('../fonts/Breva-medium/Brevia-Medium.eot');
  src: url('../fonts/Breva-medium/Brevia-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Breva-medium/Brevia-Medium.svg#Brevia-Medium') format('svg'),
       url('../fonts/Breva-medium/Brevia-Medium.ttf') format('truetype'),
       url('../fonts/Breva-medium/Brevia-Medium.woff') format('woff'),
       url('../fonts/Breva-medium/Brevia-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Brevia-Regular';
  src: url('../fonts/Brevia-regular/Brevia-Regular.eot');
  src: url('../fonts/Brevia-regular/Brevia-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Brevia-regular/Brevia-Regular.svg#Brevia-Regular') format('svg'),
       url('../fonts/Brevia-regular/Brevia-Regular.ttf') format('truetype'),
       url('../fonts/Brevia-regular/Brevia-Regular.woff') format('woff'),
       url('../fonts/Brevia-regular/Brevia-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'FormaDJRMicro-Medium';
  src: url('../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.eot');
  src: url('../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.svg#FormaDJRMicro-Medium') format('svg'),
       url('../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.ttf') format('truetype'),
       url('../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.woff') format('woff'),
       url('../fonts/FormaDJRMicro-medium/FormaDJRMicro-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FormaDJRMicro-Light';
  src: url('../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.eot');
  src: url('../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.svg#FormaDJRMicro-Light') format('svg'),
       url('../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.ttf') format('truetype'),
       url('../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.woff') format('woff'),
       url('../fonts/FormaDJRMicro-light/FormaDJRMicro-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormaDJRMicro-Bold';
  src: url('../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.eot');
  src: url('../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.svg#FormaDJRMicro-Bold') format('svg'),
       url('../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.ttf') format('truetype'),
       url('../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.woff') format('woff'),
       url('../fonts/FormaDJRMicro-bold/FormaDJRMicro-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FormaDJRMicro-Regular';
  src: url('../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.eot');
  src: url('../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.svg#FormaDJRMicro-Regular') format('svg'),
       url('../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.ttf') format('truetype'),
       url('../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.woff') format('woff'),
       url('../fonts/FormaDJRMicro-regular/FormaDJRMicro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/Opensans-bold/OpenSans-Bold.eot');
  src: url('../fonts/Opensans-bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Opensans-bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('../fonts/Opensans-bold/OpenSans-Bold.ttf') format('truetype'),
       url('../fonts/Opensans-bold/OpenSans-Bold.woff') format('woff'),
       url('../fonts/Opensans-bold/OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/Opensans-light/OpenSans-Light.eot');
  src: url('../fonts/Opensans-light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Opensans-light/OpenSans-Light.svg#OpenSans-Light') format('svg'),
       url('../fonts/Opensans-light/OpenSans-Light.ttf') format('truetype'),
       url('../fonts/Opensans-light/OpenSans-Light.woff') format('woff'),
       url('../fonts/Opensans-light/OpenSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url('../fonts/Opensans-lighitalic/OpenSans-LightItalic.eot');
  src: url('../fonts/Opensans-lighitalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Opensans-lighitalic/OpenSans-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight-Italic';
  src: url('../fonts/Opensans-lighitalic/OpenSansLight-Italic.svg#OpenSansLight-Italic') format('svg'),
       url('../fonts/Opensans-lighitalic/OpenSansLight-Italic.ttf') format('truetype'),
       url('../fonts/Opensans-lighitalic/OpenSansLight-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/Opensans-regular/OpenSans-Regular.eot');
  src: url('../fonts/Opensans-regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Opensans-regular/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Opensans-regular/OpenSans.svg#OpenSans') format('svg'),
       url('../fonts/Opensans-regular/OpenSans.ttf') format('truetype'),
       url('../fonts/Opensans-regular/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}









